<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team" >
     <li>Team Name: </li>
     <input type="text" name="name">
     <li>Coach: </li>
     <input type="text" name="coach">
     <li>Point Guard: </li>
     <input type="text" name="pg">
     <li>Shooting Guard: </li>
     <input type="text" name="sg">
     <li>Small Forward: </li>
     <input type="text" name="pf">
     <li>Power Forward: </li>
     <input type="text" name="sf">
     <li>Center: </li>
     <input type="text" name="c">
     <input id="Submit" type="submit" title="Submit">
   </form>
 </body>
</html>
